html {
  --primary-color: #d67b21;
  --background-color: #efeeea;
  --green-color: #9cc298;
  --hover-color: ;
}

.active {
  text-decoration-line: underline !important;
  text-decoration-thickness: 2px !important;
  color: rgb(20, 19, 19);
}

section {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

/* INDHOLD PÅ SIDEN */
.stort_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 100px;
  margin-top: 50px;
}

h1 {
  text-align: center;
  font-size: 35px;
  font-family: "Abril Fatface", cursive;
  margin-bottom: 20px;
  margin-top: 200px;
  letter-spacing: 18px;
}

.pil {
  background-image: url(svg/pil_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 50%;
  margin-bottom: 100px;
}
.pil:hover {
  background-image: url(svg/pil_icon9.svg);
}

/* .top_5 {
  background-color: white;

  padding: 30px;
} */

figcaption {
  background-color: white;
  padding: 30px;
  transform: translateY(-15px);
}

#holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 50px;
  margin-bottom: 110px;
}

article {
  margin: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

ul li {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}

p {
  font-family: "Work Sans", sans-serif;
}

h6 {
  overflow: hidden;
  text-align: center;
  color: var(--primary-color);
  font-size: 35px;
  font-family: "Abril Fatface", cursive;
  margin-bottom: 70px;
  margin-top: 70px;
  letter-spacing: 18px;
}

h6:before,
h6:after {
  background-color: var(--primary-color);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 40%;
}

h6:before {
  right: 0.5em;
  margin-left: -50%;
}

h6:after {
  left: 0.5em;
  margin-right: -50%;
}

div button {
  border: 1.5px var(--primary-color);
  color: var(--primary-color);
  padding: 8px 10px;
  text-align: center;
  margin: 22px 0px;
  padding: 15px 35px 15px 35px;
  cursor: pointer;
  border-style: solid;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}
div button:hover {
  background-color: var(--primary-color);
  color: white;
}

h2 {
  font-size: 20px;
  font-family: "Abril Fatface", cursive;
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 5px;
  color: var(--primary-color);
}

.h2_top5 {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 5px;
  color: var(--primary-color);
  font-weight: 600;
}

.p_top5 {
  font-family: "Work Sans", sans-serif;
  color: var(--primary-color);
}

h3 {
  font-size: 14px;
  font-family: "Abril Fatface", cursive;
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 5px;
  color: var(--primary-color);
}

h4 {
  font-family: "Work Sans", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 3px;
  color: var(--primary-color);
  font-weight: 600;
}

h5 {
  font-size: 10px;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.del_1 {
  margin: 100px 30px 100px 30px;
  gap: 30px;
}

.img_del_1 {
  margin-top: 100px;
}

.del_2 {
  background-color: white;
  padding: 30px;
  margin: 200px 0 200px 0;
  text-align: center;
}

.folkene_bag {
  margin-top: 50px;
}

@media (min-width: 800px) {
  .del_1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 110px 30px 0 30px;
    gap: 50px;
  }

  .del_2 {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 30px;
    margin: 110px 0 110px 0;
    text-align: center;
  }

  .folkene_bag {
    margin-top: 0px;
  }

  .img_del_1 {
    margin-top: 0px;
  }
}

@media (max-width: 650px) {
  .toggle-btn {
    display: block;
    position: relative;
    right: 35px;
    top: -10px;
  }
  .main-menu {
    display: contents;
  }
  .main-menu ul {
    display: none;
  }
  .main-menu.shown ul {
    gap: 10px;
    border-top: 1px solid var(--primary-color);
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    padding: 15px;
  }
  .banner hr {
    display: none;
  }
}
