html {
  --primary-color: #d67b21;
  --background-color: #efeeea;
  --green-color: #9cc298;
  --hover-color: ;
}

section {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

/* header */
.banner {
  padding: 2rem;
  /* 1. Få elementerne til at stå ved siden af hinanden og brug justify-content til at skubbe dem væk fra hinanden */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
.main-menu ul {
  list-style: none;
  padding: 0;
  /* 2. Få elementerne til at stå ved siden af hinanden */
  display: flex;
  gap: 50px;
  justify-content: end;
}
/* ----------- burgermenu -------------- */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none; /* Skjul knappen som standard */
}
.logo_header {
  height: 100px;
  width: 100px;
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
}

.logo_header img {
  height: auto;
  width: 100%;
}

/* INDHOLD PÅ SIDEN */
.stort_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 100px;
  margin-top: 50px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  background-image: linear-gradient(#d67b21, #d67b21);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}
/* footer a:hover,
a:focus,
a:active {
  background-size: 100% 0.1em;
} */

header ul a:hover,
a:focus,
a:active {
  background-size: 100% 0.1em;
}

.logo_header:hover,
a:focus,
a:active {
  transform: scale(1.1);
  transition: 1s;
}

h1 {
  text-align: center;
  font-size: 35px;
  font-family: "Abril Fatface", cursive;
  margin-bottom: 20px;
  margin-top: 200px;
  letter-spacing: 18px;
}

/* header */
.banner {
  display: flex;
  padding: 2rem;
  /* 1. Få elementerne til at stå ved siden af hinanden og brug justify-content til at skubbe dem væk fra hinanden */
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--primary-color);
}
.main-menu ul {
  list-style: none;
  padding: 0;
  /* 2. Få elementerne til at stå ved siden af hinanden */
  display: flex;
  gap: 50px;
  justify-content: end;
  padding: 35px;
}

hr {
  border-bottom: 0.2px solid var(--primary-color);
  width: 900px;
  width: 100%;
}

.pil {
  background-image: url(svg/pil_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 50%;
  margin-bottom: 100px;
}
.pil:hover {
  background-image: url(svg/pil_icon9.svg);
}

/* .top_5 {
  background-color: white;

  padding: 30px;
} */

figcaption {
  background-color: white;
  padding: 30px;
  transform: translateY(-15px);
}

#holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  margin-top: 50px;
  margin-bottom: 110px;
}

article {
  margin: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

ul li {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}

p {
  font-family: "Work Sans", sans-serif;
}

h6 {
  overflow: hidden;
  text-align: center;
  color: var(--primary-color);
  font-size: 35px;
  font-family: "Abril Fatface", cursive;
  margin-bottom: 70px;
  margin-top: 70px;
  letter-spacing: 18px;
}

h6:before,
h6:after {
  background-color: var(--primary-color);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 40%;
}

h6:before {
  right: 0.5em;
  margin-left: -50%;
}

h6:after {
  left: 0.5em;
  margin-right: -50%;
}

div button {
  border: 1.5px var(--primary-color);
  color: var(--primary-color);
  padding: 8px 10px;
  text-align: center;
  margin: 22px 0px;
  padding: 15px 35px 15px 35px;
  cursor: pointer;
  border-style: solid;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}
div button:hover {
  background-color: var(--primary-color);
  color: white;
}

h2 {
  font-size: 20px;
  font-family: "Abril Fatface", cursive;
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 5px;
  color: var(--primary-color);
}

h3 {
  font-size: 14px;
  font-family: "Abril Fatface", cursive;
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 5px;
  color: var(--primary-color);
}

h4 {
  font-family: "Abril Fatface", cursive;
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 3px;
  color: var(--primary-color);
}

h5 {
  font-size: 10px;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.del_1 {
  margin: 100px 30px 100px 30px;
  gap: 30px;
}

.img_del_1 {
  margin-top: 100px;
}

.del_2 {
  background-color: white;
  padding: 30px;
  margin: 200px 0 200px 0;
  text-align: center;
}

.folkene_bag {
  margin-top: 50px;
}

@media (min-width: 800px) {
  .del_1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 110px 30px 0 30px;
    gap: 50px;
  }

  .del_2 {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 30px;
    margin: 110px 0 110px 0;
    text-align: center;
  }

  .folkene_bag {
    margin-top: 0px;
  }

  .img_del_1 {
    margin-top: 0px;
  }
}
