* {
  all: unset;
  display: revert;
  cursor: revert;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --primary-color: #d67b21;
  --background-color: #efeeea;
  --green-color: #9cc298;
  --hover-color: ;
}
@font-face {
  font-family: "";
  src: url() format(woff2);
}

body {
  background-color: var(--background-color);
}
img {
  max-width: 100%;
}
.valgt {
  font-weight: 650;
}

h1 {
  color: var(--primary-color);
  font-size: 35px;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 18px;
}
h2 {
  font-size: 20px;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 5px;
  color: var(--primary-color);
}

p {
  font-family: "Work Sans", sans-serif;
}

/* header */
.banner {
  padding: 2rem;
  /* 1. Få elementerne til at stå ved siden af hinanden og brug justify-content til at skubbe dem væk fra hinanden */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
.main-menu ul {
  list-style: none;
  padding: 0;
  /* 2. Få elementerne til at stå ved siden af hinanden */
  display: flex;
  gap: 50px;
  justify-content: end;
}

/* ----------- burgermenu -------------- */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none; /* Skjul knappen som standard */
}
.logo_header {
  height: 100px;
  width: 100px;
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  background-image: linear-gradient(#d67b21, #d67b21);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

/* header */
.banner {
  display: flex;
  padding: 2rem;
  /* 1. Få elementerne til at stå ved siden af hinanden og brug justify-content til at skubbe dem væk fra hinanden */
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--primary-color);
}
.main-menu ul {
  list-style: none;
  padding: 0;
  /* 2. Få elementerne til at stå ved siden af hinanden */
  display: flex;
  gap: 50px;
  justify-content: end;
  padding: 35px;
}

.logo_header img {
  height: auto;
  width: 100%;
}

header ul a:hover,
a:focus,
a:active {
  background-size: 100% 0.1em;
}

.logo_header:hover,
a:focus,
a:active {
  transform: scale(1.1);
  transition: 1s;
}

footer {
  padding: 2rem 2rem 0 2rem;
}

hr {
  border-bottom: 0.2px solid var(--primary-color);
  width: 900px;
  width: 100%;
}

.footer_flex {
  display: flex;
  justify-content: space-between;
}

.footer_left {
  padding: 30px 10% 30px 10%;
  line-height: 25px;
  /* place-self: start; */
}

.footer_right {
  padding: 30px 10% 30px 10%;
  line-height: 25px;
  /* place-self: start end; */
  color: var(--primary-color);
}

footer a:hover,
a:focus,
a:active {
  background-size: 100% 0.1em;
}

.footer_rettigheder {
  background-color: white;
  display: flex;
  justify-content: center;
}

.logo_header:hover,
a:focus,
a:active {
  transform: scale(1.1);
  transition: 1s;
}
