* {
  all: unset;
  display: revert;
  cursor: revert;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --primary-color: #d67b21;
  --background-color: #efeeea;
  --green-color: #9cc298;
  --hover-color: ;
}
@font-face {
  font-family: "";
  src: url() format(woff2);
}

body {
  background-color: var(--background-color);
}
img {
  max-width: 100%;
}
.underline {
  text-decoration: underline;
}

h1 {
  color: var(--primary-color);
  font-size: 35px;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 18px;
}
h2 {
  font-size: 20px;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 5px;
  color: var(--primary-color);
}

p {
  font-family: "Work Sans", sans-serif;
}
header {
}

footer {
  padding: 2rem 2rem 0 2rem;
}

hr {
  border-bottom: 0.2px solid var(--primary-color);
  width: 900px;
  width: 100%;
}

.footer_flex {
  display: flex;
  justify-content: space-between;
}

.footer_left {
  padding: 30px 10% 30px 10%;
  line-height: 25px;
  /* place-self: start; */
}

.footer_right {
  padding: 30px 10% 30px 10%;
  line-height: 25px;
  /* place-self: start end; */
  color: var(--primary-color);
}

footer a:hover,
a:focus,
a:active {
  background-size: 100% 0.1em;
}

.footer_rettigheder {
  background-color: white;
  display: flex;
  justify-content: center;
}

.logo_header:hover,
a:focus,
a:active {
  transform: scale(1.1);
  transition: 1s;
}
