* {
  all: unset;
  display: revert;
  cursor: revert;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --primary-color: #d67b21;
  --background-color: #efeeea;
  --green-color: #9cc298;
  --hover-color: ;
}
@font-face {
  font-family: "";
  src: url() format(woff2);
}

body {
  background-color: var(--background-color);
}
img {
  max-width: 100%;
}

h1 {
  color: var(--primary-color);
  font-family: "Abril Fatface", cursive;
}
h2 {
}
h3 {
}
p {
  font-family: "Work Sans", sans-serif;
}
header {
}

footer {
}
