/* OM OS SIDE CSS */
.meet {
  display: grid;
  place-items: center center;
  border: 1px solid red;
  margin: 50px;
  padding: 50px;
}
.learn-button {
  border: 1.5px var(--green-color);
  color: var(--green-color);
  padding: 8px 10px;
  text-align: center;
  margin: 8px 10px;
  cursor: pointer;
  border-style: solid;
}
.billedgalleri img {
  max-width: 50%;
  max-height: 50%;
}
.omos {
  display: grid;
  grid-template-columns: 1fr;
  margin: 50px;
}
@media screen and (min-width: 760px) {
  .omos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
  }
  .meet {
    margin: 250px;
    padding: 50px;
  }
}
