/* SPISESTEDER SIDE CSS */


/* --------------------------------------------- HEADER */

ul li {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}



.banner {
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--primary-color);
  margin-bottom: 4rem;
}
.main-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 50px;
  justify-content: end;
  padding: 35px;
}




/* ------------------------ BURGERMENU */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none; /* Skjul knappen som standard */
}
.logo {
  height: 100px;
  width: 100px;
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
}

.logo img {
  height: auto;
  width: 100%;
}

@media (max-width: 650px) {
  .toggle-btn {
    display: block; /* Vis knappen, når viewporten maksimalt er 600px */
    position: absolute;
    right: 35px;
    top: 35px;
  }

  .main-menu {
    display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
  }

  .main-menu ul {
    display: none; /* Fjern menu-listen som standard */
  }

  .main-menu.shown ul {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    gap: 10px;
    border-top: 1px solid var(--primary-color);
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    padding: 15px;
  }
  hr {
    display: none;
  }
}









/*------------------------------------------------------------------- MEDIA MAX WIDTH 650px */


/* ---------------------------------------------GENERELT */

html {
  --primary-color: #d67b21;
  --background-color: #efeeea;
  --green-color: #9cc298;
  --hover-color: ;
}



main {
  margin-inline: 2.5rem;
}  

h1 {
  font-size: 30px;
  font-family: "Abril Fatface", cursive;
  /* margin-bottom: 1rem; */
  text-align: center;
}

h2{
  font-family: "Work Sans", sans-serif;
  color: #d67b21;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

h3{
  font-family: "Work Sans", sans-serif;
  color: #d67b21;
  font-size: 100%;
  font-weight: 600;
  margin-bottom: 2rem;
}


h4, h5, img{
  font-family: "Work Sans", sans-serif;
  color: black;
  margin-bottom: 1rem;
}


.main_spisesteder p {
font-size: 69%;
font-weight: lighter;
color: black;
margin-bottom: 1rem;
}








/*--------------------------------------------- LOKATION SEKTION */
#nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    column-gap: 28px;
height: 16rem;
margin-inline: 2rem;
row-gap: 10px;
margin-bottom: 5rem;
margin-top: 2rem;
    }
    

    #helekbh {
      background-image: url(svg/helekbh.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    #helekbh:hover {
      background-image: url(svg/helekbh_hover.svg);

    }


.vesterbro {
    background-image: url(svg/vesterbro.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
.vesterbro:hover {
    background-image: url(svg/vesterbro_hover.svg);
  }


.noerrebro {
    background-image: url(svg/noerrebro.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
.noerrebro:hover {
    background-image: url(svg/noerrebro_hover.svg);
  }


.frederiksberg {
    background-image: url(svg/frederiksberg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
.frederiksberg:hover {
    background-image: url(svg/frederiksberg_hover.svg);
  }


.koebenhavnk {
    background-image: url(svg/koebenhavnk.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
.koebenhavnk:hover {
    background-image: url(svg/koebenhavnk_hover.svg);
  }

  .amager {
    background-image: url(svg/amager.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
.amager:hover {
    background-image: url(svg/amager_hover.svg);
  }



 
  






/* SPISESTEDER SEKTION */
#spisesteder_container {
display: grid;
grid-template-columns: 1fr;
gap: 1rem;
}

.spisesteder_box {
    padding: 1.5rem;
    background-color: white;

}

.adresse_prisklasse {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 1.5rem;
font-size: 70%;
align-items: center;

}

.prisklasse_container, .adresse_container, .service_container, .vibe_container {
    display: flex;
    justify-content: flex-start;
    
}

.adresse_prisklasse img {
    width: 1.3rem;
    margin-right: 1rem;
}

.navn {
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  }
  
  .adresse_prisklasse h5 {
    font-style: italic;
  
  }
  
  .kortbeskrivelse {
  font-weight: 300;
  font-size: 67%;
  }
  
  
  






/*--------------------------------------------- SE MERE KNAP */


.se_mere_container {
  display: flex;
  justify-content: left;
  margin-top: 2rem;
}

.se_mere {
  color: #d67b21;
  border: 2px;
  padding: 8px 10px;
  text-align: center;
  cursor: pointer;
  border-style: solid;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 0.8rem; 
  padding: 3px 15px 3px 15px;

}

.se_mere:hover {
  background-color: var(--primary-color);
  color: white;
  /* border: none; */
  }








/*--------------------------------------------- Selve Popup */

#popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000aa;
  display: flex;
  justify-content: center;
  display: none;
}

#popup article{
  position: fixed;
  background-color: #E3E1D8;
  margin-inline: 10%;
  padding: 1rem;
  height: 38rem;
  top: 8%;
}


.billedurl{
  max-width: 15rem;
  margin-bottom: 0;
}


.se_mere_info h2 {
  color: black;
font-size: 150%;
font-weight: 800;
margin-bottom: 0;
margin-top: 2%;
text-align: left;

}
.se_mere_info p {
font-size: 55%;
margin-top: 5%;
/* margin-left: 15%; */
}

.se_mere_info h5 {
  font-size: 80%;
  margin-top: 0%;
  font-family: "Work Sans", sans-serif;
  color: black;
  font-style: italic;
}


.se_mere_luk {
  border: 2px;
  padding: 8px 10px;
  text-align: center;
  padding: 3px 15px 3px 15px;
  cursor: pointer;
  border-style: solid;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.adr_pris_vibe_serv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;

  }

.service_container_popup, .vibe_container_popup, .prisklasse_container_popup, .adresse_container_popup {
  display: flex;
  height: 2rem;
  column-gap: 0.5rem;

}






  /*--------------------------------------------- TOP 5 */
  .top5_container {
    display: none;
  }


  .top5_container p {
    font-weight: lighter;
    color: #d67b21;

  }

  .top5_container h4 {
color: #d67b21;
font-weight: 600;
font-size: 120%;
text-transform: uppercase;

  }

  .top5_top5 {
    margin-bottom: 5rem;
    }



/*--------------------------------------------- INSTAGRAM */

  .instagram_galleri{
    display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 1rem;
 margin-bottom: 5rem; 
 }

.instagram_container {
  display:none;
}











/*--------------------------------------------- FOOTER */



























  


  /*------------------------------------------------------------------- MEDIA MIN WIDTH 650px */



  @media (min-width: 650px) {
/*--------------------------------------------- GENERELT */
main {
  margin-inline: 5rem;
}  

h1 {
  font-size: 40px;

}



/*--------------------------------------------- LOKATION SEKTION */



#nav {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;  
  margin-inline: 2rem;
row-gap: 10px;
margin-bottom: 2rem;
margin-top: 1rem;  
height: 8rem;
 }

.vesterbro {
    background-position: center;
}

.noerrebro {
    background-position: center;
}
.frederiksberg {
    background-position: center;
}
.koebenhavnk {
    background-position: center;
}








/*--------------------------------------------- Selve Popup */


#popup article{
  height: 20rem;
  top: 30%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.se_mere_info {
    display: grid;
    justify-content: end;
    justify-items: end;
}
.se_mere_info h2 {

text-align: right;

}
.se_mere_info p {

text-align: right;

}


  }




/*------------------------------------------------------------------- MEDIA MIN WIDTH 900px */

  @media (min-width: 900px) {
/*--------------------------------------------- GENERELT */
main {
  margin-inline: 7rem;
}  

/* h1 {
  font-size: 80px;
} */

h2 {
  margin-top: 0;
  text-align: left;
}




/*--------------------------------------------- TOP 5 SEKTION */

.top5_container h4 {
font-size: 80%;
}

.top5_container p {
  font-size: 57%;

}

.top5_container {
  margin-bottom: 5rem;
  display: contents;
}


.instagram_container {
  display:contents;
}


/*--------------------------------------------- SPISESTEDER SEKTION */

.main_spisesteder {
  display: grid;
grid-template-columns: 1fr 3fr;
gap: 5rem;
margin-top: 7rem;
}

#spisesteder_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


/*--------------------------------------------- Selve Popup */


#popup article{
  height: 20rem;
  top: 30%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}
.adr_pris_vibe_serv {
  display: flex;
  justify-items: end;
  justify-content: end;
  column-gap: 1.5rem;
}


.se_mere_info h2 {
font-size: 300%;

}

.se_mere_info h5 {
font-size: 50%;
  
  }

.se_mere_info p {
  font-size: 80%;

}

.se_mere_luk {
  padding: 1px 20px 1px 20px;
  margin-bottom: 3rem;

}


/*--------------------------------------------- SORTER SEKTION */

.sorter_buttons button {
  font-size: 51%;
}

  .sorter_buttons {
      grid-template-columns: 1fr 1fr;
      }

/*--------------------------------------------- LOKATION SEKTION */

.lokation_buttons {
    margin-inline: 3rem;
    } 



  
      
}








/*------------------------------------------------------------------- MEDIA MIN WIDTH 1200px */


@media (min-width: 1200px) { 
  #nav {
    margin-inline: 10rem;
    margin-top: 2rem;
    } 
    h1 {
      letter-spacing: 10px;    
    }


    #spisesteder_container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .top5_container h4 {
      font-size: 90%;
      }
      
      .top5_container p {
        font-size: 80%;
      
      }
    
      #popup article{ 
        top: 30%;

        width: 45rem;
      }


}








  